<div class="text-center mt-3">
  <h2>{{likesParam === "Likers" ? "Members who like me" : "Members who I've liked"}} : {{pagination.totalItems}}</h2>
</div>

<div class="container mt-3">
  <div class="btn-group mb-3">
    <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">Members who likes me</button>
    <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">Members who I like</button>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2" *ngFor="let user of users">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
  
  <div class="row ml-0">
    <div class="col">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;" (pageChanged)="pageChanged($event)" class="float-right">
      </pagination>
    </div>
  </div>
</div>

