<div class="container mt-3">

  <form novalidate #form="ngForm" (ngSubmit)="loadUsers()" class="form-inline">
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input type="number" name="minAge" id="minAge" class="form-control ml-1" style="width: 70px;"
        [(ngModel)]="userFilter.minAge">
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input type="number" name="maxAge" id="maxAge" class="form-control ml-1" style="width: 70px;"
        [(ngModel)]="userFilter.maxAge">
    </div>

    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select class="form-control ml-1" style="width: 130px;" id="gender" name="gender" [(ngModel)]="userFilter.gender">
        <option *ngFor="let item of genderList" [value]="item.value">{{item.display}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" style="margin-left: 10px;">Apply Filters</button>
    <button type="button" class="btn btn-primary" style="margin-left: 10px;">Reset Filter</button>

    <div class="col">
      <div class="btn-group float-right">
        <button type="button" name="orderBy" class="btn btn-primary" (click)="loadUsers()" btnRadio="lastActive"
          [(ngModel)]="userFilter.orderBy">Last Active</button>
        <button type="button" name="orderBy" class="btn btn-primary" (click)="loadUsers()" btnRadio="created"
          [(ngModel)]="userFilter.orderBy">Newest Member</button>
      </div>
    </div>

  </form>
  <br>
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>

  <div class="row ml-0">
    <h5>Results - {{pagination.totalItems}}</h5>
    <div class="col">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;" (pageChanged)="pageChanged($event)" class="float-right">
      </pagination>
    </div>
  </div>
</div>